@import '../../styles/variables';

.main {
	text-align:       center;
	background-color: @darkColor;
	border:           none;
	padding:          @padding;
	margin:           @padding * 3 0;
	width:            100%;
	color:            white;
	text-transform:   uppercase;
	font-size:        16px;
	border-radius:    2px;
	transition:       all 0.5s @primaryAnimationCurve;
	cursor:           pointer;
}

.primary {
	composes:         main;
	background-color: @primaryColor;
}

.disabled {
	composes: main;
	opacity:  0.2;
}

.danger {
	composes:         main;
	background-color: @dangerColor;
}

.invert {
	composes:         main;
	background-color: transparent;
	color:            @textColor;
}

.inline {
	display: inline-block;
	width:   auto;
	margin:  0;
}

.sm {
	font-size:   @fontSize;
	line-height: @fontSize;
}

.md {
	font-size:   @fontSize--lg;
	line-height: @fontSize--lg;
}

.lg {
	font-size:   @fontSize--xl;
	line-height: @fontSize--xl;
}
