@import '../../styles/variables';

.main {
	padding:        @padding*2 @padding * 2;
	//display:        inline-block;
	text-transform: uppercase;
	cursor:         pointer;
	font-size:      @fontSize;
	line-height:      @fontSize;
	letter-spacing: 3px;

	transition: all 0.3s @primaryAnimationCurve;

	//border-bottom: 1px solid lighten(@darkColor, 5%);

	position: relative;
	&:hover {
		background-color: @jollyColor;
		//color: @darkColor;
	}
}

.selected{
	composes: main;

	&:before{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: @padding/2;
		background-color: @primaryColor;
	}

	&:hover {
		background-color: transparent;
		color: inherit;
	}

	//background-color: lighten(@darkColor, 10%);
}

.icon{
	padding-right: @padding;
}

.text{
	vertical-align: middle;
}
