@import '../../styles/variables';

.main {
	padding:        @padding*2 @padding * 2;
	//display:        inline-block;
	text-transform: uppercase;
	cursor:         pointer;
	font-size:      @fontSize;
	letter-spacing: 3px;

	transition: background-color 0.3s @primaryAnimationCurve;

	&:hover {
		background-color: @jollyColor;
	}
}

.selected{
	composes: main;

	background-color: lighten(@darkColor, 20%);
}

.icon{
	padding-right: @padding;
}

.text{
	vertical-align: center;
}
